$black: #1b1a1a;
$white: #ffffff;
$gray-dark-deep: #323131;
$gray-dark: #767676;
$gray-light: #e5e5e5;
$pink: #ff5693;
$blue: #5a60f8;
$blue-light: #7aeffe;
$green: #aaeb57;
$green-light: #7affc0;
$yellow: #f0fa6a;
$red: #d44343;
$purple: #ff559c;

$header-height: 75px;

$font-suisse: "SuisseIntl", sans-serif;




