* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-suisse;
  margin: 0;
  overflow-x: hidden;
  accent-color: $black;
  list-style: none;
}

.container {
  padding: 0 10px;
  @include breakpoints-up(x-small) {
    padding: 0 15px;
  }

  @include breakpoints-up(small) {
    padding: 0 25px;
  }

  @include breakpoints-up(medium) {
    padding: 0 70px;
  }

}

li {
  list-style: none;
}
