* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-suisse;
  margin: 0;
  overflow-x: hidden;
  accent-color: $black;
  list-style: none;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  @include breakpoints-up(x-small) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include breakpoints-up(small) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @include breakpoints-up(medium) {
    padding-left: 70px;
    padding-right: 70px;
  }

}

li {
  list-style: none;
}
